<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${wbeParameter.name}">Tour Packer</title>
    <!-- Fav and Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="stylesheet" href="/resource/common/layui/css/layui.css" media="all"/>
    <link rel="shortcut icon" href="images/ico/favicon.png">
    <!-- CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="/resource/css/front/bootstrap.min.css" media="screen">
    <link href="/resource/css/front/animate.css" rel="stylesheet">
    <link href="/resource/css/front/main.css" rel="stylesheet">
    <link href="/resource/css/front/component.css" rel="stylesheet">
    <link href="/resource/css/front/style.css" rel="stylesheet">
    <!-- CSS Font Icons -->
    <link rel="stylesheet" href="/resource/css/front/icons/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resource/css/front/icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/resource/css/front/icons/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/resource/css/front/icons/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/resource/css/front/icons/rivolicons/style.css">
    <link href="/resource/common/city-picker/city-picker.css" rel="stylesheet"/>
    <!-- CSS 自定义主题设置-->
    <link th:href="'/resource/css/front/custom/'+${arguments.colorMain}+'.css'" rel="stylesheet">
</head>


<body class="">

<!-- start Container Wrapper -->
<div class="container-wrapper">
    <header id="header" th:replace="front/public:: header"></header>
    <div class="clear"></div>
    <!-- start Main Wrapper -->
    <div class="main-wrapper scrollspy-container">
        <!-- start end Page title -->
        <div class="page-title" style="background-image:url('/resource/image/hero-header/breadcrumb.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                        <h1 class="hero-title">Personal Center</h1>
                        <ol class="breadcrumb-list">
                            <li><a href="/front/index.do">主页</a></li>
                            <li><span>账号详情</span></li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
        <!-- end Page title -->
        <div class="content-wrapper">
            <!-- start Main Wrapper -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-9">
                        <div class="blog-wrapper">
                            <div class="blog-item blog-single">
                                <div class="blog-media">
                                    <img th:src="${postInfo.img}" alt=""/>
                                </div>
                                <div class="blog-content">
                                    <h3 th:text="${postInfo.name}"></h3>
                                    <ul class="blog-meta clearfix">
                                        <li>by <a href="#" th:text="${postInfo.userName}">Admin</a></li>
                                        <li>by <span th:text="${#strings.substring(postInfo.createTime,0,11)}"></span>
                                        </li>
                                        <li>标签 <a th:text="${postInfo.categoryName}">Adventure</a></li>
                                        <li th:text="${postInfo.observer+'条评论'}"></li>
                                    </ul>
                                    <div class="blog-entry">
                                        <p style="font-size: 20px;color: #1E9FFF"
                                           th:text="${'价格/小时:'+postInfo.price}"></p>
                                        <p th:text="${postInfo.introduce}"></p>
                                        <p th:utext="${postInfo.content}"></p>
                                    </div>
                                </div>
                                <div class="blog-extra">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-7 xs-mb">
                                            <div class="tag-cloud clearfix mt-0">
                                                <span><i class="fa fa-tags"></i> tags: </span>
                                                <a class="tag-item" th:text="${postInfo.categoryName}">Creative</a>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-5 xs-mb" th:if="${go_in}">
                                            <ul class="social-share-sm mt-5 pull-right pull-left-xs mt-20-xs">
                                                <li th:id="${postInfo.id}" class="the-label buy">
                                                    <span style="color: red">我要租聘</span></li>
                                                <li th:id="${postInfo.id}" class="the-label report-reply">
                                                    <span>举报</span></li>
                                                <li class="the-label collectBtn" th:if="${!isCollect}"
                                                    th:id="${postInfo.id}"><i class="fa fa-thumbs-up"></i>赞</a></li>
                                                <li class="the-label collectBtn" th:if="${isCollect}"
                                                    th:id="${postInfo.id}"><a><i class="fa fa-thumbs-down"></i>取消赞</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <h4 class="uppercase" th:text="${postInfo.observer+'条评论'}">9 Comments</h4>
                                <div id="comment-wrapper">
                                    <ul class="comment-item">
                                        <li th:each="comment:${commentList}">
                                            <div class="comment-avatar">
                                                <img th:src="${comment.user.imgUrl}" alt="author image"/>
                                            </div>
                                            <div class="comment-header">
                                                <a class="comment-reply del-comment" th:id="${comment.id}"
                                                   th:if="${comment.isMe eq'1'}">删除</a>
                                                <h6 class="heading mt-0" th:text="${comment.user.userName}">Ibrahim ibn
                                                    al-Walid</h6>
                                                <span class="comment-time"
                                                      th:text="${#strings.substring(comment.time,0,11)}">23 minutes</span>
                                            </div>
                                            <div class="comment-content">
                                                <p th:text="${comment.content}"></p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </div><!-- End Comment -->

                                <h3 class="uppercase" th:if="${go_in}">留下评论</h3>
                                <div method="post" id="contactForm" action="post" class="comment-form" th:if="${go_in}">
                                    <div class="clear"></div>
                                    <div class="row">
                                        <div class="col-md-12 mb-30">
                                            <div class="form-group">
                                                <label for="comment-message">你的评论: <span
                                                        class="text-danger">*</span></label>
                                                <textarea name="message" id="comment-message" class="form-control"
                                                          rows="8"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input hidden name="articleId" class="postId" th:value="${postInfo.id}">
                                            <button class="btn btn-primary submitComment leaveWord-submit-btn">提交
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 mt-50-xs">
                        <aside class="sidebar">
                            <div class="sidebar-inner no-border for-blog">
                                <div class="sidebar-module">
                                    <div class="sidebar-module-inner">
                                        <div class="sidebar-mini-search">
                                            <div class="input-group">
                                                <input type="text" class="form-control searchName"
                                                       placeholder="Search for...">
                                                <span class="input-group-btn">
														<button class="btn btn-primary searchBtn" type="button">
                                                            <i class="fa fa-search "></i></button>
													</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="sidebar-module">
                                    <h4 class="sidebar-title">更多分类</h4>
                                    <div class="sidebar-module-inner">
                                        <ul class="sidebar-category">
                                            <li th:each="postCategory:${postCategoryList}">
                                                <a th:href="${'/front/postInfoList.do?categoryName='+postCategory.name}"
                                                   th:text="${postCategory.name}">Business</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="sidebar-module">
                                    <h4 class="sidebar-title">最新服务</h4>
                                    <div class="sidebar-module-inner">
                                        <ul class="sidebar-post">
                                            <li class="clearfix" th:each="item:${listOrderTime}">
                                                <a th:href="${'/front/postInfoDetail.do?id='+item.id}">
                                                    <div class="image" th:if="${item.img !=null && item.img !=''}">
                                                        <img th:src="${item.img}" alt="Popular Post"/>
                                                    </div>
                                                    <div class="content"
                                                         th:style="${item.img !=null && item.img !=''?'margin-left: 90px':'margin-left: 10px'}">
                                                        <h6 th:text="${item.name}">Enough around remove to barton agreed
                                                            regret</h6>
                                                        <p class="recent-post-sm-meta"><i
                                                                class="fa fa-clock-o mr-5"></i><span
                                                                th:text="${#strings.substring(item.createTime,0,11)}"></span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="sidebar-module">
                                    <h4 class="sidebar-title">最热服务</h4>
                                    <div class="sidebar-module-inner">
                                        <ul class="sidebar-post">
                                            <li class="clearfix" th:each="item:${listOrderObs}">
                                                <a th:href="${'/front/postInfoDetail.do?id='+item.id}">
                                                    <div class="image" th:if="${item.img !=null && item.img !=''}">
                                                        <img th:src="${item.img}" alt="Popular Post"/>
                                                    </div>
                                                    <div class="content"
                                                         th:style="${item.img !=null && item.img !=''?'margin-left: 90px':'margin-left: 10px'}">
                                                        <h6 th:text="${item.name}">Enough around remove to barton agreed
                                                            regret</h6>
                                                        <p class="recent-post-sm-meta"><i
                                                                class="fa fa-comments mr-5"></i><span
                                                                th:text="${item.observer}"></span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="clear"></div>

                            </div>

                        </aside>

                    </div>

                </div>

            </div>

        </div>


    </div>
    <!-- end Main Wrapper -->
    <footer id="footer" th:replace="front/public:: footer"></footer>
</div>  <!-- end Container Wrapper -->


<!-- start Back To Top -->
<div id="back-to-top">
    <a href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end Back To Top -->


<!-- JS -->
<script type="text/javascript" src="/resource/js/front/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/resource/js/front/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/resource/js/front/bootstrap.min.js"></script>
<script type="text/javascript" src="/resource/js/front/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/resource/js/front/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/resource/js/front/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/resource/js/front/jquery.slicknav.min.js"></script>
<script type="text/javascript" src="/resource/js/front/jquery.placeholder.min.js"></script>
<!--<script type="text/javascript" src="js/instagram.min.js"></script>-->
<script type="text/javascript" src="/resource/js/front/spin.min.js"></script>
<script type="text/javascript" src="/resource/js/front/jquery.introLoader.min.js"></script>
<script type="text/javascript" src="/resource/js/front/select2.full.js"></script>
<script type="text/javascript" src="/resource/js/front/jquery.responsivegrid.js"></script>
<script type="text/javascript" src="/resource/js/front/ion.rangeSlider.min.js"></script>
<script type="text/javascript" src="/resource/js/front/readmore.min.js"></script>
<script type="text/javascript" src="/resource/js/front/slick.min.js"></script>
<script type="text/javascript" src="/resource/js/front/validator.min.js"></script>
<script type="text/javascript" src="/resource/js/front/jquery.raty.js"></script>
<script type="text/javascript" src="/resource/js/front/customs.js"></script>
<script type="text/javascript" src="/resource/common/layui/layui.js"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['jquery', 'table', 'layer', 'laydate', 'form',], function () {
        var table = layui.table,
            $ = layui.$,
            layer = layui.layer,
            laydate = layui.laydate,
            form = layui.form;
        $('.searchBtn').on('click', function () {
            var searchName = $('.searchName').val();
            location.href = '/front/postInfoList.do?searchName=' + searchName
        })
        $('.buy').on('click', function () {
            var id = $(this).attr("id");
            layer.open({
                type: 2,
                title: "时间选择",
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area: ['600px', '300px'],
                content: "/front/buyPage.do?postId=" + id
            });
        })
        //删除评论
        $('.del-comment').on('click', function () {
            var id = $(this).attr("id");
            $.ajax({
                url: '/front/delComment.do',
                type: 'post',
                data: {"id": id},
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (!result.status) {
                        parent.layer.msg(result.msg, {time: 2000});
                        return false;
                    } else {
                        layer.msg("删除成功!", {
                            time: 900,
                            end: function () {
                                location.reload()
                            }
                        })
                    }
                }
            });
        })
        //提交评论
        $('.submitComment').on('click', function () {
            var content = $('#comment-message').val();
            var postId = $('.postId').val();
            if (content == '' || content == null) {
                layer.msg('评论内容不能为空!', {icon: 5});
                return false;
            }
            $.ajax({
                url: '/front/addComment.do',
                type: 'post',
                data: {'content': content, 'postId': postId},
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (!result.status) {
                        parent.layer.msg(result.msg, {time: 2000});
                        return false;
                    } else {
                        layer.msg("评论成功!", {
                            time: 900,
                            end: function () {
                                location.reload()
                            }
                        })
                    }
                }

            });
        })
        //举报
        $('.report-reply').on('click', function () {
            var id = $(this).attr("id");
            layer.open({
                type: 2,
                title: "举报",
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area: ['600px', '500px'],
                content: "/front/addReport.do?postId=" + id
            });
        })
        //收藏
        $('.collectBtn').on('click', function () {
            var id = $(this).attr("id");
            $.ajax({
                url: '/front/collect.do',
                type: 'post',
                data: {"postId": id},
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (!result.status) {
                        parent.layer.msg(result.msg, {time: 2000});
                        return false;
                    } else {
                        layer.msg(result.msg, {
                            time: 900,
                            end: function () {
                                location.reload()
                            }
                        })
                    }
                }
            });
        })
    });
</script>

</body>

</html>